extends layouts/main
include mixins/videoBlock

block content
    .search__header
        h3 Searching for: #{searchingBy}
    .search__videos
        each item in videos
            +videoBlock({
                title:item.title,
                views:item.views,
                videoFile:item.videoFile
            })
            //search_vidos는home화면에서 한 것과 같은 것을 추가함 mixin도 include를 함